<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>P.A.L Store</title>
	<link rel="icon" th:href="@{/img/ICONO.png}" type="image/x-icon">
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/style_productos.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.min.css">
</head>

<body>
	<header class="todotodo">
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#" id="contactoBtn"><i class="fa fa-phone"></i>Contacto</a></li>
					<li><a href="#" id="nosotrosBtn"><i class="fa fa-map-marker"></i>Nosotros</a></li>
				</ul>
				<ul class="header-links pull-right">
					<!-- Mostrar el nombre del usuario si está logueado -->
					<li th:if="${username != null}">
						<span class="username-style"><span th:text="${username}"></span></span>
					</li>
					<!-- Mostrar Iniciar sesión si el usuario no está logueado -->
					<li th:if="${username == null}">
						<a href="/login"><i class="fa fa-user-o"></i>Iniciar sesión</a>
					</li>
					<li><a href="/logout"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
				</ul>
			</div>

			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img th:src="@{/img/logo.jpg}" alt="logo" width="100%">
								</a>
							</div>
						</div>

						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Carrito</span>
										<div class="productos_en_el_carrito_productos">0</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
		<!-- NAVEGACIÓN -->
		    <nav id="navigation"></nav>

		<div class="container product-container">
			<h2>Productos</h2>

			<!-- Formulario de búsqueda -->
			<form action="/productos" method="get">
				<input type="text" name="nombre" placeholder="Buscar productos..." class="input" />
				<button type="submit" class="btn btn-primary">Buscar</button>
			</form>

			<!-- Resultados de búsqueda -->
			<div id="suggestions" style="display:none;" class="suggestions-container">
				<ul id="suggestions-list"></ul>
			</div>

			<!-- Resultados de búsqueda estática -->
			<div class="row">
				<h3 th:if="${busqueda}">Resultados para: <span th:text="${busqueda}"></span></h3>

				<div th:if="${#lists.isEmpty(productos)}">
					<h4><i>No hay coincidencias</h4>
				</div>

				<div th:each="producto : ${productos}" class="col-md-4">
					<div class="product-card">
						<img th:src="@{/img/{imagen}(imagen=${producto.imagen})}" alt="Imagen del producto">
						<h4 th:text="${producto.nombre}"></h4>
						<p>Marca: <strong><span th:text="${producto.marca}"></strong></span></p>
						<p th:text="${producto.descripcion}"></p>
						<p>Precio: <strong>S/<span th:text="${producto.precio}"></span></strong></p>
						<p class="card-text" th:text="'En stock: ' + ${producto.stock}">Stock</p>
						<button type="button" class="btn btn-primary">Agregar al carrito</button>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<p>© Grupo 6 - Diseño de Pruebas de Software - 2024</p>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
		<script th:src="@{/js/functions.js}"></script>
</body>

</html>